@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {

--DesaturatedDarkBlue: hsl(214, 17%, 51%);
--GrayishBlue: hsl(212, 23%, 69%);
--VeryDarkGrayishBlue: hsl(217, 19%, 35%);
--LightGrayishBlue: hsl(210, 46%, 95%);
--white:hsl(0,0, 98%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: var(--LightGrayishBlue);
}

.disply-none{
    display: none;
}

.article__container {
    width: 45rem ;
    margin: 4rem auto;
    box-shadow: 0 40px 40px -10px cyan(0.5) ;
    display: flex;
    align-items: center;
}

.img__container {
    border-radius: 0.62rem 0 0 0.62rem;
    width: 18.7rem ;
    height: 18rem;
    display: block;

}

.content__container {
    background-color: var(--white);
    border-radius: 0 0.62rem 0.62rem 0;
    padding: 2rem;
    height: 18rem;
    width: 31.2rem;

}

.h1 {
    color:var(--DesaturatedDarkBlue);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 0.5rem;

}

.profile {
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}